.h-797 {
    height: 797px !important;
}

.wrapper {
    overflow-x:auto !important;
}

// .wrapper::-webkit-scrollbar{
//     width: 1px !important;
// }

.img-cover {
    background-size: cover !important;
}

mat-card-actions {
    margin: 0 !important;
    font-family: poppins !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

button {
    width: 179px !important;
    height: 40px !important;

    position: relative !important;
    top: 45px !important;
}

.title-paragraph {
    width: 678px !important;
    flex-wrap: wrap !important;
    margin: 0px !important;
}
