<div class="container">
  <div class="d-flex row nowrap">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="./assets/img/bmw1.jpg" />
      </mat-card-content>
      <mat-card-actions class="pt-2">
        <p class="font-16"><strong>BMW X3</strong></p>
        <p class="font-16">
          From <strong class="strong-blue">$248,000 </strong>
          <button mat-flat-button class="badge"><p>$2,302/mo</p></button>
        </p>
        <p class="grey">4 variants | with COE</p>
        <div class="d-flex icon-height pt-8">
          <img src="./assets/icon/bmw.png" />
          <p class="pl-8">Performance Motors</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="./assets/img/bmw1.jpg" />
      </mat-card-content>
      <mat-card-actions class="pt-2">
        <p class="font-16"><strong>BMW X3</strong></p>
        <p class="font-16">
          From <strong class="strong-blue">$248,000 </strong>
          <button mat-flat-button class="badge"><p>$2,302/mo</p></button>
        </p>
        <p class="grey">4 variants | with COE</p>
        <div class="d-flex icon-height pt-8">
          <img src="./assets/icon/bmw.png" />
          <p class="pl-8">Performance Motors</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="./assets/img/bmw1.jpg" />
      </mat-card-content>
      <mat-card-actions class="pt-2">
        <p class="font-16"><strong>BMW X3</strong></p>
        <p class="font-16">
          From <strong class="strong-blue">$248,000 </strong>
          <button mat-flat-button class="badge"><p>$2,302/mo</p></button>
        </p>
        <p class="grey">4 variants | with COE</p>
        <div class="d-flex icon-height pt-8">
          <img src="./assets/icon/bmw.png" />
          <p class="pl-8">Performance Motors</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="./assets/img/bmw1.jpg" />
      </mat-card-content>
      <mat-card-actions class="pt-2">
        <p class="font-16"><strong>BMW X3</strong></p>
        <p class="font-16">
          From <strong class="strong-blue">$248,000 </strong>
          <button mat-flat-button class="badge"><p>$2,302/mo</p></button>
        </p>
        <p class="grey">4 variants | with COE</p>
        <div class="d-flex icon-height pt-8">
          <img src="./assets/icon/bmw.png" />
          <p class="pl-8">Performance Motors</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="./assets/img/banner.jpg" />
    </mat-card>
  </div>
</div>
