mat-card {
    width: 255px !important;
    height: 345px !important;
    font-family: poppins !important;

    margin: 12px 12px !important;
}

mat-card-actions {
    top: 5px !important;
}


mat-card-header {
    height: 187px;
}

.badge {
    background-color: #E5EEFB;
    color: #0F5EDD;
}

.strong-blue{
    color: #0F5EDD;
}

.icon-height {
    height: 32px;
}

.grey {
    color: #5F5F5F;
}

.btn {
    width: 194px !important;
    height: 40px !important;
}