<mat-toolbar class="px-60">
  <img src="./assets/icon/location.svg" />
  <div class="d-flex flex-column justify-content-center line1 br-1">
    <span class="px-8 font-12">71 Ayer Rajah Crescent,#06-14,</span>
    <span class="px-8 font-12">singapore</span>
  </div>

  <img class="pl-16" src="./assets/icon/email.svg" />
  <div class="d-flex flex-column justify-content-center line1">
    <span class="px-8 font-12">Email us at: </span>
    <span class="px-8 font-12"> hello@carbuyer.com.sg</span>
  </div>

  <div class="phone">
    <img src="./assets/icon/phone.svg" />
    <div class="d-flex flex-column justify-content-center line1">
      <span class="px-8 font-12">+65 8808 7905</span>
      <span class="px-8 font-12">+7 (700) 51 51 518</span>
    </div>
  </div>
</mat-toolbar>
