<div class="container bg-dark">
  <div class="d-flex col justify-content-center align-items-center">
    <div class="col mt-22 mb-142">
      <h1 class="font-48 font-red">How it works</h1>
      <h3 class="font-32">This is how our products works</h3>
    </div>
  </div>
  <div class="d-flex row justify-content-between px-96">
    <div class="card">
      <img src="./assets/icon/location-lg.svg" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Find Car</p>
      <p class="font-24 weight-400">
        Our cars are located at prime areas where by there won’t be problem with
        transportation
      </p>
    </div>
    <div class="card">
      <img src="./assets/img/Smart house.png" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Make Payment</p>
      <p class="font-24 weight-400">
        Our estates comes with good network,portable water , 24hrs light and
        round the clock security.
      </p>
    </div>
    <div class="card">
      <img src="./assets/img/secure-img.png" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Find Car</p>
      <p class="font-24 weight-400">
        Our cars are located at prime areas where by there won’t be problem with
        transportation
      </p>
    </div>
  </div>
</div>
