<div class="w-100 bg-dark h-810">
  <div class="d-flex justify-content-center">
    <div class="pt-24 mb-142">
      <h1 class="font-48 fw-bold font-red">How it works</h1>
      <h3 class="font-32">This is how our products works</h3>
    </div>
  </div>
  <div class="d-flex justify-content-between px-80">
    <div class="card align-items-center">
      <img src="./assets/icon/location-lg.svg" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Find Car</p>
      <p class="font-24 weight-400">
        Our cars are located at prime areas where by there won’t be problem with
        transportation
      </p>
    </div>
    <div class="card px-10 align-items-center">
      <img src="./assets/img/Smart house.png" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Make Payment</p>
      <p class="font-24 weight-400">
        Our estates comes with good network,portable water , 24hrs light and
        round the clock security.
      </p>
    </div>
    <div class="card align-items-center">
      <img src="./assets/img/secure-img.png" class="img-center" />
      <p class="font-36 mb-12 weight-500 line-height">Find Car</p>
      <p class="font-24 weight-400">
        Our cars are located at prime areas where by there won’t be problem with
        transportation
      </p>
    </div>
  </div>
</div>
