.bg-dark {
    background-color: #232323 !important;
    color: white !important;
}

.h-810 {
    height: 810px !important;
}

h3 {
    font-weight: 400 !important;
    text-align: center !important;
}

h1 {
    font-weight: 700 !important;
    text-align: center !important;
}

.content {
    width: 1174px !important;
}

.card {
    background-color: transparent !important;
    border: none !important;
}

img {
    height: 132px;
    width: 132px;
    padding-bottom: 36px !important;
}

p {
    width: 338px !important;
    word-wrap: break-word !important;

    text-align: center;
}

.line-height{
    line-height: 24px ;
}

.weight-500 {
    font-weight: 500px !important;
}
.weight-400 {
    font-weight: 400px !important;
}