<mat-toolbar class="navbar">
  <img src="./assets/img/logo-carbuyer.png" />
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<div class="container wrapper pt-10">
  <div class="row text-center">
    <div class="col px-3">
      <img src="./assets/img/toyota.png" />
      <p>Toyota</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/bmw.png" />
      <p>BMW</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/mercedes.png" />
      <p>Mercedes</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/hyundai.png" />
      <p>Hyundai</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/mazda.png" />
      <p>Mazda</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/audi.png" />
      <p>Audi</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/nisan.png" />
      <p>Nissan</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/kia.png" />
      <p>Kia</p>
    </div>
    <div class="col px-3">
      <img src="./assets/img/honda.png" />
      <p>Honda</p>
    </div>
    <div class="col">
      <button class="btn btn-light">
        <img src="./assets/icon/grid.svg" />
        <p>More</p>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="fw-semibold">Car Type</h2>
  <div class="row text-center overflow-auto">
    <div class="col">
      <img src="" alt="" />
      <p></p>
    </div>
  </div>
</div>
