.flex-3 {
    display: flex !important;
    flex: 3 !important;
    justify-content: space-between !important;
}

button{
    width: 179px;
    height: 40px;
}

a {
    font-family: inter !important;
}