<mat-toolbar class="bg-dark">
  <div class="flex-3 px-60">
    <img src="./assets/icon/logo.svg" />

    <div class="">
      <a routerLink="/user" mat-button class="px-24 font-16">New Cars</a>
      <a routerLink="/user" mat-button class="px-24 font-16">Used Cars</a>
      <a routerLink="/user" mat-button class="px-24 font-16">Reviews</a>
      <a routerLink="/user" mat-button class="px-24 font-16">News</a>
    </div>

    <button mat-flat-button class="btn-red">Login</button>
  </div>
</mat-toolbar>
